<%= link_to 'New User', new_user_path %>
<table class='table table-striped table-reponsive'>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Phone Number</th>
		<th>Action</th
	</thead>
	<tbody id='users'></tbody>
</table>
