<div id='panel' data-id=<%= @user_id %> class='panel panel-success'>
	<div id='heading' class='panel-heading'></div>
	<div id='body' class= 'panel-body'></div>
		<ul id='product'>
		</ul>
	</div>
</div>